@import "tailwindcss";

@theme {
  --color-huddle-purple-700: hsl(257, 40%, 49%);
  --color-huddle-magenta-400: hsl(300, 69%, 71%);
  --color-fylo-dark-navy-850: hsl(217, 28%, 15%);
  --color-fylo-dark-navy-900: hsl(218, 28%, 13%);
  --color-fylo-dark-navy-950: hsl(216, 53%, 9%);
  --color-fylo-dark-navy-800: hsl(219, 30%, 18%);
  --color-fylo-dark-teal-200: hsl(176, 68%, 64%);
  --color-fylo-dark-cyan-500: hsl(198, 60%, 50%);
  --color-fylo-dark-red-500: hsl(0, 100%, 63%);
  --color-ping-coming-soon-blue-500: hsl(223, 87%, 63%);
  --color-ping-coming-soon-blue-200: hsl(223, 100%, 88%);
  --color-ping-coming-soon-red-400: hsl(354, 100%, 66%);
  --color-ping-coming-soon-gray-400: hsl(0, 0%, 59%);
  --color-ping-coming-soon-blue-950: hsl(209, 33%, 12%);
}

.layout {
  @apply mx-auto max-w-7xl;
}

.layout-container {
  @apply p-10 sm:p-14 md:p-20;
}

.remove-layout-container {
  @apply -m-10 sm:-m-14 md:-m-20;
}
